<h1> Brawl Stars </h1>
<hr>
<div class = "row">
    <div class="col">
        <!-- <h3> Personajes </h3>
        <hr>
        <ul>
            <li *ngFor="let hero of heroes">{{ hero.name }} - <b [ngClass]="{verde:hero.HP>3000, rojo:hero.HP<=1000, amarillo:hero.HP>1000 && hero.HP<=3000}">{{ hero.HP }}</b></li>
        </ul> -->
        <app-character [heroes]="heroes"></app-character>
    </div>
    <div class="col">
        <!-- <h3> Add character </h3>
        <form (ngSubmit)="addCharacter()">
            <input type="text" name="name" id="name" placeholder="Name" [(ngModel)]="hero.name"><br>
            <input type="number" name="hp" id="hp" placeholder="Health" [(ngModel)]="hero.HP"><br>
            <button type="submit" >Add</button>
        </form> -->
        <app-add-character [hero]="hero" [heroes]="heroes"></app-add-character>
    </div>
</div>
