
    <div class="grid-container">
        <div class="card juego1" *ngFor="let item of list">
            <div class="container">
              <p><b>Deporte: </b>{{ item.element }}</p> 
              <p><b>Nesesario: </b>{{ item.needed}}</p> 
            </div>
          </div>
    <!-- <li><b>Deporte:</b> {{ list[0].element }} <b>Nesesario: </b>{{ list[0].needed}}</li>
    <li><b>Deporte:</b> {{ list[1].element }} <b>Nesesario: </b> {{ list[1].needed}}</li>
    <li><b>Deporte:</b> {{ list[2].element }} <b>Nesesario: </b> {{ list[2].needed}}</li> -->
